*{
    margin: 0;
    padding: 0;
}

body{
    display: none;
}
.container{
    background-image: url("https://cdn.discordapp.com/attachments/985595018800681000/1078695178640035910/deathscreenback.png" );
    background-size:cover;
    height: 100%;
}

.bleeding {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Source Code Pro';

}

.bleedingtext {
    margin-bottom: -4%;
    font-weight: bold;
    font-size: 20vh;
}

.remainingtime {
    font-size: 4vh;
}

#emsbutton {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Source Code Pro';
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: 3px;
    min-width: 37vh;
    border: 2px solid #a00015;
    color: white;
    background-color: #b4031b;
    margin-top: 10%;
    font-size: 3vh;
    padding: .2vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

#emsbutton:hover {
    background-color: #a00015;
}

#emsbutton:active {
    background-color: #000000;
    border: 2px solid #000000;
    outline-color: transparent;
}

#spawntext {
    text-align: center;
    color: white;
    font-family: 'Source Code Pro';
    margin-bottom: -4%;
    font-weight: bold;
    font-size: 12vh;
}

.respawnselector {
    display: none;
    background-color: #00000069;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
}


#spawn{
    margin-top: 5vh;
    font-family: 'Source Code Pro';
    font-size: 12vh;
    font-weight: bolder;
    color: white;
}

#first {
    min-width: 35vh;
    font-family: 'Source Code Pro';
    font-size: 2vh;
    margin-left: 5vh;
    margin-top: 5vh;
    padding: 8vh;
    border: none;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: 8px;
    color: rgba(255, 255, 255, 0);
    background-position: center;
    background-size: cover;
    transition: 0.2s ease;
}

#first:hover{
    color: white;
}

